@reference "../../index.css";


.tabList {
  @apply flex border-b;
  border-color: var(--border-default);
}

.tab {
  @apply transition-colors duration-150 font-medium whitespace-nowrap;
}

.tabSm {
  @apply text-sm py-1.5 px-3;
}

.tabMd {
  @apply text-base py-2 px-4;
}

.tabActive {
  @apply border-b-2 border-primary-400 -mb-px;
  color: var(--text-primary);
}

.tabInactive {
  @apply text-gray-500;
  &:hover {
    color: var(--text-secondary);
  }
}

.count {
  @apply ml-1.5 px-1.5 py-0.5 text-xs rounded-full text-gray-500;
  background: var(--bg-hover);
}
